{% extends 'layout.html' %}

{% block body %}

<h3>About</h3>
<hr>

<p>
<h5>
    Hello, Im Onur, welcome to the part about me, first of all I would like to thank myself for creating this site, and then lets come to me. Im currently in my 2nd year of computer engineering and at the same time I play basketball professionally in Ukraine (as well as in this period), I also conduct studies in the field of python and data science, let's see how far I can go.
    [Date : 2.05.2023]
    <a href="https://www.etsy.com/listing/1432590789/unleash-your-inner-champion-how-to?ref=listings_manager_grid">My Ebook</a> 
</h5>
</p>
{% endblock body %}